@primaryColor: #202125;
@backgroundLight: #fff;
@textPrimaryColor: @primaryColor;
@lightElementColor: #fafafa;
@dangerColor: #c62828;
@errorColor: @dangerColor;

@lightTextColor: @lightElementColor;
@darkTextColor: @primaryColor;

@elementBorderColor: #e0e0e0;