<div class="side-menu">
    <app-layout-header></app-layout-header>
    <div class="jobs-list">
        <div *ngFor="let job of userData.jobs" (click)="selectJob(job)" class="job" [ngClass]="{'selected': selectedJobID === job.id}">
            <span class="job-title">{{ job.title }}</span>
            <span class="job-url">{{ job.url }}</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
    </div>
</div>
<div class="job-view">
    <create-job *ngIf="addingJob"></create-job>
    <view-job *ngIf="!addingJob && getSelectedJob()" [job]="getSelectedJob()"></view-job>
</div>