<div class="side-menu">
    <app-layout-header></app-layout-header>
    <div class="jobs-list">
        <div class="job">
            <span class="job-title">Job title</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job selected">
            <span class="job-title">Job title 2</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title 34</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title4</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title5</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
        <div class="job">
            <span class="job-title">Job title</span>
            <span class="job-url">https://example.com/some/url/provided/by/user</span>
            <span class="job-status">Last checked <span class="job-info">1 minute ago</span></span>
            <span class="job-difference"><span class="job-info">142</span> pixels</span>
        </div>
    </div>
</div>
<div class="job-view">
    Job view
</div>