@import '../../variables.less';

:host {
    padding: 8px;
}

h2 {
    padding: 4px 0;
}

div {
    font-size: 14pt;
    padding: 8px 0;
}

button {
    margin: 6px auto;
}

.btn-delete {
    background-color: @dangerColor;
}

.btn-delete:hover {
    color: @dangerColor;
    background-color: @lightElementColor;
    border-color: @dangerColor;
}